#quiz_lists
  = image_tag('riddlr.png')
  %blockquote
    Riddle me this
    %small The Riddlr

  .well.sidebar-nav
    %ul.nav.nav-tabs(style='cursor: pointer')
      %li.active
        %a(data-target="#latest" data-toggle="tab") Latest

      %li
        %a(data-target="#popular" data-toggle="tab") Popular

      %li
        %a(data-target="#random" data-toggle="tab") Rand()

    .tab-content
      .tab-pane.active#latest
        .list-group
          - Quiz.latest.limit(10).each do |quiz|
            = link_to quiz.title, quiz, class: 'list-group-item'

      .tab-pane#popular
        .list-group
          - Quiz.popular.limit(10).each do |quiz|
            = link_to quiz, class: 'list-group-item' do
              = quiz.title
              %span.badge.float-right
                = quiz.solutions.count

      .tab-pane#random
        .list-group
          - Quiz.random.limit(10).each do |quiz|
            = link_to quiz.title, quiz, class: 'list-group-item'
