- if @users_solution

  %span(ng-app='riddlr')
    .jumbotron
      %h1
        %i.icon-thumbs-up
        You made it!
      %h3.higher_lines
        Congratulations, you solved the quiz
        %strong
          %code= @solution.quiz.title
        \!

    .panel.panel-default
      .panel-heading(style="padding: 10px")
        If you had fun recommend it to your friends:
      .panel-body
        .row
          .col-lg-10
            %input.form-control.disabled{value: quiz_url(@solution.quiz), readonly: true, style: 'cursor: text', 'select-on-click' => true}
          .col-lg-1
            %a.btn.btn-primary(href="https://twitter.com/share?text=I challenge you to a Ruby Quiz! #{@solution.quiz.title} - #{quiz_url(@solution.quiz)}" target='_blank')
              %i.icon-twitter.icon-large

    %p
      Your solution took us about
      %code
        = really_convert_to_ms(@solution.time)
        ms
      of computing power, and is
      %code
        = @solution.code_length
        characters
      worth of disc space!

    %div
      %span(ng-init="code='#{@solution.code}'")
      %div#public_environment(ui-ace='{mode: "ruby"}' ng-model='code' style='height: 140px' readonly='true')

    %h2 See how the others did:

- else
  %span(ng-app='riddlr')
    .well
      %h1
        = link_to @solution.quiz.title, quiz_path(@solution.quiz)
        .pull-right
          = link_to 'Solve it!', quiz_path(@solution.quiz), class: 'btn btn-primary btn-lg'
      %h4
        by
        = display_author(@solution.quiz.author)

    %div(style='margin: 10px;')
      %h3
        Solved by
        = display_author(@solution.author)
        = time_ago_in_words(@solution.created_at)
        ago

    %p
      &nbsp;

    %p
      The solution took us about
      %code
        = really_convert_to_ms(@solution.time)
        ms
      of computing power, and is
      %code
        = @solution.code_length
        characters
      worth of disc space!

    %div
      %span(ng-init="code='#{@solution.code}'")
      %div#public_environment(ui-ace='{mode: "ruby"}' ng-model='code' style='height: 140px' readonly='true')

    %p
      &nbsp;


    .panel.panel-default
      .panel-heading(style="padding: 10px")
        Share it
      .panel-body
        .row
          .col-lg-10
            %input.form-control.disabled{value: quiz_url(@solution.quiz), readonly: true, style: 'cursor: text', 'select-on-click' => true}
          .col-lg-1
            %a.btn.btn-primary(href="https://twitter.com/share?text=I challenge you to a Ruby Quiz! #{@solution.quiz.title} - #{quiz_url(@solution.quiz)}" target='_blank')
              %i.icon-twitter.icon-large


.row
  .col-lg-6
    %h3 The fastest are ...

    %table.table.table-striped
      %tr
        %th
          Author
        %th
          Runtime
      - Solution.fastest_for(@solution.quiz).each do |solution|
        %tr{ class: solution.id == @solution.id && 'warning' }
          %td
            = link_to display_author(solution.author), solution_path(solution)
          %td
            #{convert_to_ms(solution.time).to_s}

  .col-lg-6
    %h3 Space-savers

    %table.table.table-striped
      %tr
        %th
          Author
        %th
          Amount of Characters
      - Solution.smallest_for(@solution.quiz).each do |solution|
        %tr{ class: solution.id == @solution.id && 'warning' }
          %td
            = link_to display_author(solution.author), solution_path(solution)
          %td
            = solution.code_length


